/* PRESET DE ALGUNS ELEMENTOS  */
/*+------------------------------+
  |            BOTÕES            |
  +------------------------------+*/
  /*code button*/
.code_button{
  position: relative;

    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.8vw;
    width: fit-content;

    color: var(--white);
    background-color: var(--green1);

    padding: 0.8vw 3vw;

    transition: background-color 500ms, transform 300ms;
}
.code_button::before{
  content: "{";

  position: absolute;
  left: 0vw;
  top: 50%;
  transform: translateY(-50%);

  font-size: 1.8em;
    color: var(--green2);

  opacity: 0;

  transition: opacity 400ms, left 200ms;
}
.code_button::after{
  content: "}";

  position: absolute;
  right: 0vw;
  top: 50%;
  transform: translateY(-50%);

  font-size: 1.8em;
  color: var(--green2);

  opacity: 0;

  transition: opacity 400ms, right 200ms;
}
.code_button:hover{
  background-color: var(--green2);
  transform: translateX(20%);
}
.code_button:hover::before{
  opacity: 1;
  left: -2.5vw;
}
.code_button:hover::after{
  opacity: 1;
  right: -2.5vw;
}
/*code button*/




  /*code button2*/
  .code_button2{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5vw;
    position: relative;
    padding: 0.9vw 2vw;
    color: var(--white);
    text-transform: uppercase;
    transition: 200ms;
    overflow: hidden;
    cursor: pointer;
   
}
.code_button2:hover{
    background: var(--white);
    color: var(--black);
    box-shadow: 0 0 2px #A0A0A0,
                0 0 15px #A0A0A0,
                0 0 15px #A0A0A0,
                0 0 30px #A0A0A0;
     -webkit-box-reflect:below 16px linear-gradient(transparent, #0002);
}
.code_button2:nth-child(1){
    filter: hue-rotate(270deg);
}
.code_button2:nth-child(2){
    filter: hue-rotate(110deg);
}
.code_button2 span{
    position: absolute;
    display: block;
}
.code_button2 span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,var(--white));
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.code_button2 span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,var(--white));
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.code_button2 span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,var(--white));
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


.code_button2 span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,var(--white));
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
  /*code button2*/