/* ARQUIVO PRINCIPAL DOS ESTILOS  */
/* Adicione aqui apenas estilos que serão usados em TODOS os arquivos html. Exemplo: fontes e cores */
/* COLORS */
:root{
    --white: #FEFEFE;
    --blue1: #2f3a59;
    --blue2: #455473;
    --green1: #43D993;
    --green2: #5EF275;
    --green1_op: #43D993B0;
    --black: #0D0D0D;
    --toButton: #8e8cf7;
    --toButton2: #5a43d9;
}
/* Logo FONTS */
@font-face {
    font-family: 'makenosense';
    src: url(/assets/fonts/makenosense.otf);
}
@font-face {
    font-family: 'youaremyevery';
    src: url(/assets/fonts/youaremyevery.ttf);
}
/* -------------- LAYOUT DA PÁGINA -----------*/
body{
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--black);
}
header{
    background-color: transparent;
    z-index: 10000;
}

main{
    background-color: transparent;
    flex-grow: 1;
    z-index: 100;
}
footer{
    z-index: 1000;
}

/* FONTS  */
p, a, span, legend, label, li, div, textarea{
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
}

/* -------------- LAYOUT DA PÁGINA -----------*/
/*
*
*
*
*
*/
/* -------------- HEADER --------------*/
header{
    display: grid;
    grid-template-columns: 2fr 9fr;
    padding: 2vw 4vw 2vw 4vw;
    align-items: center;
    z-index: 10000;
    color: var(--white);
}
header[data-move]{

}
header[data-move="on"]{
    animation: headerDown 400ms ease-out 0ms 1 normal both;
}
header[data-move="off"]{
    
}
header .left #header_logo{
    height: 100%;
    cursor: pointer;
}
header .center nav{
    display: flex;
    justify-content: center;
}
.nav_link{
    cursor: pointer;
    text-transform: uppercase;
    color: var(--white);
    font-size: 1.1vw;
    padding: 0;

    transition: color 200ms ease-in-out;
}
.nav_link:hover{
    color: var(--green1);
}
.nav_link::before, .nav_link::after{
    opacity: 0;
    color: var(--white);
    font-size: 1.3em;
}
.nav_link::before{
    content: "<";
    transition: color 200ms ease-in-out, margin-right 300ms, opacity 100ms;
}
.nav_link::after{
    content: "/>";
    transition: color 200ms ease-in-out, margin-left 300ms, opacity 100ms;
}
.nav_link:hover::before, .nav_link:hover::after{
    opacity: 1;
    color: var(--green1);
}
.nav_link:hover::before{
    margin-right: 0.3vw;
}
.nav_link:hover::after{
    margin-left: 0.3vw;
}
/* -------------- HEADER --------------*/
/*
*
*
*
*
*/
/* -------------- HEADER --------------*/
main .page_meta{
    display: none;
}
/* -------------- HEADER --------------*/
/*
*
*
*
*
*/
/* -------------- FOOTER --------------*/
footer{
    overflow: hidden;
}
footer #footer_content{
    position: relative;
    z-index: 10000;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 8vh 0 6vh 0;
    background-color: var(--white);
    
    text-align: center;
    color: var(--black);
}
#footer_content h1{
    font-size: 2vw;
    margin-bottom: 2vw;
}
#list_container{
    display: flex;
    justify-content: space-around;
}
#copyright{
    margin-top: 5vw;
}
/* -------------- FOOTER --------------*/
/*
*
*
*
*
*/


/*+----------------------------------------+
  |                 ANIMAÇÕES              |
  +----------------------------------------+*/
.page_content[data-anim]{
    transition: opacity 500ms;
}
.page_content[data-anim="none"]{
    opacity: 0;
}
.page_content[data-anim="on"]{
    opacity: 1;
}