/* ARQUIVO PRINCIPAL DOS ESTILOS  */
/* Adicione aqui apenas estilos que serão usados em TODOS os arquivos html. Exemplo: fontes e cores */
/* COLORS */
:root{
    --white: #FEFEFE;
    --blue1: #2f3a59;
    --blue2: #455473;
    --green1: #43D993;
    --green2: #5EF275;
    --black: #0D0D0D;
}
/* -------------- LAYOUT DA PÁGINA -----------*/
body{
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    background-color: transparent;
    z-index: 10000;
}
main{
    background-color: transparent;
    flex-grow: 1;
    z-index: 100;
}
footer{
    z-index: 1000;
}

/* FONTS  */
p, a, span, legend, label, li, div{
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
}

/* -------------- LAYOUT DA PÁGINA -----------*/
/*
*
*
*
*
*/
/* -------------- HEADER --------------*/
header{
    display: grid;
    grid-template-columns: 2fr 7fr 2fr;
    padding: 2vw 4vw 2vw 4vw;

    color: var(--white);
}
.center nav{
    display: flex;
    justify-content: center;
    gap: 1vw;
}
.nav_link{
    cursor: pointer;
    text-decoration: underline;
}
img{
    width: 50vw;
    margin-left: 25vw;
}
/* -------------- HEADER --------------*/
/*
*
*
*
*
*/
/* -------------- HEADER --------------*/
main .page_meta{
    display: none;
}
/* -------------- HEADER --------------*/
/*
*
*
*
*
*/
/* -------------- FOOTER --------------*/
footer{
    overflow: hidden;
}
footer #footer_content{
    position: relative;
    z-index: 10000;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 8vh 0 8vh 0;
    background-color: var(--white);
    
    text-align: center;
    color: var(--black);
}
#footer_content h1{
    font-size: 2vw;
}
#list_container{
    display: flex;
    justify-content: space-around;
}
/* -------------- FOOTER --------------*/
/*
*
*
*
*
*/


/*+----------------------------------------+
  |                 ANIMAÇÕES              |
  +----------------------------------------+*/
.page_content[data-anim]{
    transition: opacity 500ms;
}
.page_content[data-anim="none"]{
    opacity: 0;
}
.page_content[data-anim="on"]{
    opacity: 1;
}