.page_content{
  position: relative;
}

#content_container{
  z-index: 10;
  position: relative;

  padding: 5vw 0 5vw 0;

  gap: 7vw;
}


/* ================ action_container ================*/
.action_container{
  align-items: center;
  justify-content: center;
  margin: 2vw 0 5vw 0;
}
/* ================ action_container ================*/



/*================= SEC1 ================*/
#sec1{
  justify-content: center;
  gap: 4vw;
}
#paragraph_incial{
  padding: 2vw 0 2vw 0;
  width: 30vw;
  color: var(--white);
  font-size: 3.5vw;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  line-height: 1.1em;

}
#paragraph_incial span{
    color: var(--green1);
    font-family: 'Oswald', sans-serif;
    display: block;
}
#video{
  width: 30vw;
  height: 20vw;
  background-color: var(--white);
}
/*================= SEC1 ================*/


/*================= SEC2 ================*/
#sec2{
  background-color: var(--white);
  padding: 5vw 10vw 5vw 10vw;

  justify-content: flex-start;
  gap: 6vw;
}
#sec2 #teufuturologo{
  width: 18vw;
  height: 18vw;
}
.flex_conj{
  width: 30vw;

  justify-content: center;
  gap: 5vw;
}
.flex_conj .text_format1{
  gap: 4vw;
}
.text_format1 p{
  text-align: justify;
  position: relative;
}
#sec2 .text_format1 p::after{
  content: "";
  width: 2vw;
  height: 2vw;
  position: absolute;
  right: -2vw;
  bottom: -2vw;
  border-bottom: 2px solid var(--green1);
  border-right: 2px solid var(--green1);
}
#tf_actions{
  justify-content: space-between;
}
/*================= SEC2 ================*/




/*================= SEC4 ================*/
#sec4{
  background-color: var(--white);
  padding: 5vw 10vw 2vw 10vw;

  justify-content: flex-start;
  gap: 5vw;
}
#sec3 .text_format1{
  gap: 1.6vw;
}
#carousel_container #carousel{
    height: 25vw; /*Deve ser alterado*/
  }
#colaborator_name{
  margin: auto auto 3vw auto;
  width: 50%;
  text-align: center;
  font-size: 1.6vw;
}
/*================= SEC4 ================*/




/*================= SEC5 ================*/
#sec5{
  position: relative;

  padding: 5vw 2vw 5vw 10vw;
  background-color: var(--white);

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vw;
}
#sec5::after{
  content: "";
  position: absolute;
  width: 26vw;
  height: 4vw;
  background-color: var(--green1);
  right: 3vw;
  top: -1.5vw;
  z-index: -1;
}
#site_container{
  gap: 2vw;
}
#site_paragrah{
  text-align: justify;
  width: 40vw;
}
#sobresite_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  align-self: flex-end;
}
#sobresite_btn span{
  width: fit-content;
}
@keyframes top_bottom{
  0%{
      transform: translateY(10%);
  }
  100%{
    transform: translateY(-10%);
  }
}
.anim_topbottom{
  display: block;
  animation: top_bottom 500ms ease-in-out 0ms infinite alternate both;
}
#sobresite_btn:hover .anim_topbottom{
  animation-play-state: paused;
}
/*================= SEC5 ================*/

/* ================ SEC3 ================*/
#sec3{
  position: relative;

  background-color: var(--white);
  padding: 5vw 10vw;

  display: flex;
  justify-content: flex-start;
  gap: 5vw;
}

#development{
  display: flex;
  justify-content: flex-start;
}

.process{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}
.process li{
  position: relative;
  width: 100%;
  padding: 0vw 1.5vw;
  margin: 0 1vw;
}
#img_note{
  padding-left: 0.6vw;
}
.icons {
  width: 80%;
  margin: 0vw 0.5vw 0vw 0.7vw;
}
li p{
  display: block;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 1.1em;
  text-align: center;
  color: var(--black);
}
.process .item::before{
  content: "";
  width: 3.6vw;
  height: 1vw;
  position: absolute;
  top: 3vw;
  right: -2vw;
  opacity: 0.9;
  background: url(../../assets/images/development/process-arrow.png);
  background-repeat: no-repeat;
}

/* ================ SEC3 ================*/

/* ================ SEC6 ================*/
#sec6{
  padding: 0 0 0 5vw;
  align-items: flex-end;
  gap: 6vw;
}
#img1_container{
  position: relative;
}
#img1_container::before, #img1_container::after{
  content: "";
  position: absolute;
}
#img1_container::before{
  width: 20%;
  height: 10%;

  top: -1vw;
  right: -1vw;

  border-top-right-radius: 2vw;
  border-top: 0.2vw solid var(--green1);
  border-right: 0.2vw solid var(--green1);
}
#img1_container::after{
  height: 20%;
  right: -1vw;
  bottom: 0;
  border-left: 0.2vw solid var(--green1);
}
#sec6 #img1{
  width: 36vw;
}
#sec6 h1{
  text-align: left;
  /* margin-bottom: 8vw; PARA ANIMAÇÕES FUTURAS */
}
#sec6 h1 span{
  display: block;
  font-size: 1.2em;
}
/* ================ SEC6 ================*/

/* ================ SEC7 ================*/

#sec7{
  position: relative;
  padding: 5vw 0 5vw 10vw;
  display: flex;
  justify-content: flex-start;
}

#sec7 {
  position: relative;
  background-color: var(--white);
  padding: 5vw 10vw 2vw 22vw;
  margin: 0 50px 10vw 0;
  display: flex;
  justify-content: flex-start;
  font-size: 22px;
}
#cliente{
  width: 50%;
  border-radius: 8px;
}
/* ================ SEC7 ================*/