/* Carousel CSS FILE */

#carousel_container #carousel{
    position: relative;
    width: 100%;

    transform-style: preserve-3d;
}
.actions{

}
.ar_btn{
    border-radius: 50%;
    padding: 0.5vw;

    position: absolute;
    top: 50%;

    transition: background-color 500ms;
}
.ar_btn:hover{
    background-color: var(--green2);
    cursor: pointer;
}
.arrow path{
    fill: var(--green1);

    transition: fill 500ms;
}
.ar_btn:hover .arrow path{
    fill: var(--black);
}
#btn_left{
    left: 0vw;
    transform: translate(-100%, -50%);
}
#btn_right{
    right: 0vw;
    transform: translate(100%, -50%);
}
.arrow{
    width: 3vw;
    height: 3vw;
}
.ar_left{
    transform: translate(-10%, 2%);
}
.ar_right{
    transform: scaleX(-1) translate(-10%, 2%);

}
.img_container img{
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    
    /* mask-image: ; */
}
#carousel .left img{
    -webkit-mask-image:-webkit-gradient(linear, right bottom, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(90deg, rgba(0,0,0,1), rgba(0,0,0,0));
} 
#carousel .right img{
    -webkit-mask-image:-webkit-gradient(linear, left bottom, right bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(-90deg, rgba(0,0,0,1), rgba(0,0,0,0));
}


.img_container{
    position: absolute;
    opacity: 0;

    transition: transform 1000ms ease-in-out, left 800ms ease-in-out, right 800ms ease-in-out, opacity 400ms ease-in;
}
.img_container.center::before{
    content: "";

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: transparent;
    color: transparent;

    transition: background-color 300ms ease-in-out, color 400ms ease-in-out;
}
.img_container.center:hover::before{
    content: "";

    background-color: var(--green1_op);
    color: var(--black);
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;

    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 1.5vw;
    line-height: 1.2em;

    cursor: pointer;
}
.img_container.center#img_c0:hover::before{ /*ANGELO*/
    content: "Conhecido por seus grandes feitos durante o Bug do Milênio";
}
.img_container.center#img_c1:hover::before{ /*GUILHERME*/
    content: "É isso daí não leu o pau comeu";
}
.img_container.center#img_c2:hover::before{ /*RAYSSA*/
    content: "Sem frase";
}
.img_container.center#img_c3:hover::before{ /*VINICIUS*/
    content: "Em caminho de paca, tatu caminha dentro";
}
.img_container.center#img_c4:hover::before{ /*THIAGO*/
    content: "Desingner de página e programador front-end";
}

/*---------------- anim classes --------------*/
#carousel .semileft{
    left: -10%;
    opacity: 0;
    transform: perspective(20vw) translateX(-10vw) translateZ(-1vw) rotateY(-20deg) scale(0.5);
}
#carousel .semiright{
    left: 79%;
    opacity: 0;
    transform: perspective(50vw) translateX(10vw) translateZ(-1vw) rotateY(20deg) scale(0.5);
}
#carousel .left{
    opacity: 1;
    left: 11%;
    transform: perspective(50vw) translateX(-2vw) rotateY(-20deg) scale(0.8);
}
#carousel .center{
    opacity: 1;
    left: 37.5%;
    transform: translateZ(10vw) scale(1.2);

}
#carousel .right{
    opacity: 1;
    left: 64%;
    transform: perspective(50vw) translateX(2vw) rotateY(20deg) scale(0.8);
}













/*================= ANIMATIONS ===============*/